body
 {margin:0;background: linear-gradient(to bottom/#000000/#333333);
    font-family: 'vazirmatn',Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);text-align: center}
video
{padding: 40px;
    border: 5px solid#f9f6f6;
    box-shadow: 0 0 20px#f70404;
    max-width: 500px;
    margin: 50px auto;
    background-color:#111;
    border-radius: 20px;} 
video box{ 
    width: 500px;
    height: 200px;
    border:5px solid#ffff;
    box-shadow: 0 0 20px red;}
 button
    {background-color:rgb(246, 246, 242);
        border:none;
        padding: 10px 20px;
        font-size: 16px;
        box-shadow: 0 0 20px red;
    margin: 5px;
    cursor: pointer;
    border-radius:8px;
    transition: background 0.3s;}


    button:hover{
    background-color: orange
}
